.li0 {	list-style:none;float:left;}
.li1 {	list-style-image: url(/images/li/0001.gif);}
.li2 {	list-style-image: url(/images/li/0002.gif);}
.li3 {	list-style-image: url(/images/li/0003.gif);}
.li4 {	list-style-image: url(/images/li/0004.gif);}
.li5 {	list-style-image: url(/images/li/0005.gif);}
.li6 {	list-style-image: url(/images/li/0006.gif);}
.li7 {	list-style-image: url(/images/li/0007.gif);}
.li8 {	list-style-image: url(/images/li/0008.gif);}
.li9 {	list-style-image: url(/images/li/0009.gif);}
.li10 {	list-style-image: url(/images/li/0010.gif);}
.li11 {	list-style-image: url(/images/li/0011.gif);}
.li12 {	list-style-image: url(/images/li/0012.gif);}
.li13 {	list-style-image: url(/images/li/0013.gif);}
.li14 {	list-style-image: url(/images/li/0014.gif);}
.li15 {	list-style-image: url(/images/li/0015.gif);}
.li16 {	list-style-image: url(/images/li/0016.gif);}
.li17 {	list-style-image: url(/images/li/0017.gif);}
.li18 {	list-style-image: url(/images/li/0018.gif);}
.li19 {	list-style-image: url(/images/li/0019.gif);}
.li20 {	list-style-image: url(/images/li/0020.gif);}
.li21 {	list-style-image: url(/images/li/0021.gif);}
.li22 {	list-style-image: url(/images/li/0022.gif);}
.li23 {	list-style-image: url(/images/li/0023.gif);}
.li24 {	list-style-image: url(/images/li/0024.gif);}
.li25 {	list-style-image: url(/images/li/0025.gif);}
.li26 {	list-style-image: url(/images/li/0026.gif);}
.li27 {	list-style-image: url(/images/li/0027.gif);}
.li28 {	list-style-image: url(/images/li/0028.gif);}
