@charset "utf-8";
/* CSS Document */

body{
	width:100%;
	min-width:1200px;
	margin:0;
	}

#main_body{
	width:100%;
	min-width:1200px;
	position:relative;
	margin:0 auto;
}

.art_clear{
	clear:both;
	width:100%;
}

.art_block{
	width:100%;
	min-width:1200px;
	position:relative;
}

.art_block_box{
	width:1200px;
	margin:0 auto;
	position:relative;
}

.widget-place{
	position:relative;
	width:100%;
	height:auto;
	min-height:20px;
	float: none;
}

#place_3{
	width:394px;
	min-height:40px;
	float:left;
	margin:0 9px 0 0;
}

#place_4{
	width:394px;
	min-height:40px;
	float:left;
	margin:0 9px 0 0;
}

#place_5{
	width:394px;
	min-height:40px;
	float:left;
}